@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

body {
  background-color: #f5f5f5;
  font-size: 1em; /* 1em = 16px */
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
* {
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
/* seccion header */
.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 15px 0 rgba(17, 5, 145, 0.434);
}
/* seccion header-navegacion */
.main-header-nav {
  padding: 10px 20px;
}
.main-header-nav,
.article-barra,
.barra-dezplegable,
.contenedor-titulo-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
}
.logo {
  width: 25px;
  margin-right: 10px;
}
img {
  display: block;
}
.nav-button {
  display: flex;
}
.btn-cart {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.btn-cart:hover {
  border: 1px solid #3f3f41;
}
.fa-shopping-cart,
.fa-trash-alt {
  padding-right: 6px;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  padding: 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #e3e3ed69;
  transition: 0.3;
}

/* seccion header-presentacion  */
.main-header-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./imagenes/imagen\ productos.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  color: white;
}
h1,
h2 {
  margin: 0;
}

/* 👻seccion principal */

main {
  display: flex;
  margin-top: 80px;
}

/* seccion aside-filtros */

.filters {
  max-width: 270px;
  font-size: 12px;
  font-weight: 600;
}

label {
  display: flex;
  align-items: center;
  height: 1.8em;
}
.filters label input {
  margin-right: 10px;
}
.filter-container {
  padding: 0 35px 15px;
}
.filter-container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.filter-clear {
  padding: 0;
  min-height: 0;
  margin: 0;
}
.filter-clear:hover {
  font-weight: 900;
  color: #af2dfb;
}
.input-search {
  height: 40px;
  width: 400px;
  padding: 0 20px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid grey;
}
.fa-search {
  font-size: 1.3em;
  margin-left: 1em;
  position: absolute;
  right: 1em;

  transform: translateY(-10%);
}

.stars {
  margin-right: 5px;
}

.article-barra {
  font-size: 14px;
  background-color: #fff;
  margin: 0 10px 10px;
  padding: 25px 30px;
}
.barra-dezplegable {
  font-size: 14px;
}
.btn-desplegable {
  font-size: 20px;
  color: #000;
  padding: 0;
  margin-left: 15px;
  margin-top: 0;
}
.open-boton-filter {
  display: none;
}
.article-products {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  background-color: #f5f5f5;
}
.product {
  background-color: #fff;
  padding: 30px 25px;
  margin: 10px;
  overflow: hidden;
  width: calc(100% / 3 - 10px * 2);
  padding: 30px 25px;
  text-align: center;
}
.product:hover {
  box-shadow: 0 0px 10px 0 rgba(92, 127, 224, 0.521),
    0 6px 10px 0 rgba(146, 144, 144, 0.2);
}
.product-img {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
}
.img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
  transition: 0.5s;
}

.product-content {
  padding: 0 20px;
}
.product-data {
  padding: 0 20px;
}
.product-data,
.product-content {
  justify-content: center;
  align-items: center;
}
.product-name {
  font-weight: 600;
  margin-bottom: 0;
}
.product-price {
  font-size: 14px;
  color: #546e7a;
}

.fa-star,
.fa-shopping-cart {
  color: #af2dfb;
}
.product-sale {
  padding: 20px;
}

.button {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-sale {
  height: 40px;
  background-color: #fafafa;
}

/* ==> seccion footer <== */

footer {
  background: #fff;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 40px 10px 30px;
  margin-top: 80px;
}
.logo-footer {
  display: flex;
}
/* .logo {
  width: 25px;
  margin-right: 10px;
} */

/* clases de los productos agregados al carrito: */

.product-carrito {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.img-carrito {
  max-width: 110px;
  height: auto;
  width: 100%;
  margin-right: 25px;
}
.product-data-carrito {
  width: 100%;
}
.product-data-carrito > div {
  display: flex;
  justify-content: space-between;
}
.product-content-carrito {
  align-items: flex-start;
}
.boton-eliminar-producto-carrito {
  font-size: 18px;
  color: #b81111;
}
.contenedor-producto-precio-carrito {
  align-items: center;
}
#cantidad-producto-carrito {
  width: 50px;
  height: 30px;
  font-weight: 600;
  text-align: center;
}

/* ==> seccion carrito overlay <== */

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 42, 70, 0.5);
  top: 0;
}
.seccion-carrito,
.contenedor-carrito-lleno,
.cont-carrito-botones {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.seccion-carrito {
  align-items: center;
  max-width: 400px;
  height: 100%;
  padding: 20px;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s;
  background-color: #f5f5f5;
}
.overlay,
.seccion-carrito,
.mensaje {
  position: fixed;
}
.seccion-carrito,
.overlay.popups,
h1 {
  z-index: 1;
}
.contenedor-titulo-carrito {
  margin: 15px;
  width: 100%;
}
.boton-cerrar {
  font-size: 20px;
  margin-top: 0;
}
.contenedor-carrito-lleno,
.cant-productos-agregados {
  flex-grow: 1;
  overflow-y: scroll;
}
.mensaje-carrito-lleno {
  margin: 15px 0;
}
.btn-comprar.carrito,
.btn-finalizar {
  background-color: rgb(29, 185, 97);
  color: #000;
}
.btn-comprar.btn-vaciar,
.btn-opcion-cancelar,
.btn-seguir-comprando {
  height: 50px;
  transition: 0.3s;
}
.btn-vaciar {
  border: 1px solid #b81111;
  color: #b81111;
}

/* sector de carrito comienzo de mensaje de vaciar */

.mensaje.vaciar-contenido-carrito {
  max-width: 500px;
}
.mensaje {
  padding: 40px 30px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 2; /* posicion 2 */
  background-color: rgb(240, 242, 245);
}
.mensaje-vaciar {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.btn-opcion {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 60px;
}
.btn-opcion button {
  margin-left: 20px;
  width: 200px;
}

/* sector de checkout del carrito */

.mensaje.checkout-seccion {
  width: 100%;
  height: 100%;
}

.checkout-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.formulario {
  width: 100%;
}
.form-datos-personales {
  margin-bottom: 20px;
}
h3 {
  margin: 14px 0;
}
.datos-personales {
  margin-top: 20px;
}
.datos-personales > label {
  flex-direction: column;
}
#nombre-apellido,
#email {
  padding: 0 20px;
  border: 0;
  border-bottom: 2px solid black;
  line-height: 40px;
  height: 40px;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
}
.datos-personales label input {
  margin-bottom: 20px;
}
.datos-nombre-apellido,
.datos-email {
  display: flex;
  align-items: flex-start;
  height: 5em;
}
.form-opciones-pago {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
}
.opciones-pago {
  display: flex;
  flex-direction: column;
}
.opciones-pago label {
  margin-bottom: 15px;
}
.opciones-pago label input {
  margin-right: 20px;
}

.checkout-resumen-contenedor > div {
  padding: 20px 20px 40px;
}
.checkout-resumen-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  background-color: #f5f5f5;
}
.checkout-resumen {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.p-total {
  font-size: 28px;
  font-weight: 800;
  margin-top: 5px;
}

.btn-opciones {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 60px;
}

/* =====> clases especiales <===== */
.hidden {
  display: none;
}
.no-scroll {
  position: fixed;
}
.open {
  transform: translateX(0%);
}
.con-descuento {
  color: green;
}
.con-recargo {
  color: #b81111;
}

/* =====> sector de media querys <===== */

@media (max-width: 1200px) {
  .product {
    width: calc(100% / 2 - 2 * 10px);
  }
}

@media (min-width: 850px) {
  /* .vista-columna {
    flex-direction: column;
  } */
  .vista-horizontal {
    display: flex;
    width: 100%;
  }
  .vista-horizontal {
    text-align: initial;
  }
  .product-img {
    min-width: 250px;
  }
  /* .product-sale {
    padding: 0;
  } */
  /* .button-sale {
     max-width: 200px;} */

  /* sector de checkout del carrito */

  .mensaje.checkout-seccion {
    max-width: 800px;
  }
}
