@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

body {
  background-color: #f5f5f5;
  font-size: 1em; /* 1em = 16px */
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
* {
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
/* seccion header */
.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
}
/* seccion header-navegacion */
.main-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-logo {
  display: flex;
}
.logo {
  width: 25px;
  margin-right: 10px;
}
img {
  display: block;
}
.nav-button {
  display: flex;
}
.btn-cart {
  font-weight: 300;
  font-size: 15px;
  /* margin-left: 10px; */
  line-height: 20px;
}
.fa-shopping-cart {
  color: #af2dfb;
}
button {
  border: 0;
  /* elimino el color del fondo del icono del carrito */
  background: transparent;
  cursor: pointer;
}

/* seccion header-presentacion  */
.main-header-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./imagenes/Gadgets.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  color: white;
}
h1,
h2 {
  margin: 0;
}

/* 👻seccion principal */
main {
  display: flex;
  /* flex-grow: 1;
  width: 100%; */
  margin-top: 80px;
  /* max-width: 1400px; */
}
/* seccion aside-filtros */
.filters {
  max-width: 270px;
  font-size: 12px;
  font-weight: 600;
}
label {
  display: flex;
  align-items: center;
  height: 1.8em;
}
.filters label input {
  margin-right: 10px;
}
.filter-container {
  padding: 0 35px 15px;
}
.filter-container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.filter-clear {
  padding: 0;
}
.input-search {
  height: 40px;
  width: 400px;
  padding: 0 20px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid grey;
}
.fa-search {
  font-size: 1.3em;
  margin-left: 1em;
  position: absolute;
  right: 1em;
  /* top: 50%; */
  transform: translateY(-10%);
}

.stars {
  margin-right: 5px;
}

/* .article {
  width: 80%;
} */
.article-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  margin: 0 10px 10px;
  padding: 25px 30px;
}
.barra-dezplegable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.btn-desplegable {
  font-size: 20px;
  color: #000;
  padding: 0;
  margin-left: 15px;
}
.open-boton-filter {
  display: none;
}
/* .open-boton-filter{

} */
.hidden {
  display: none;
}
.article-products {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  background-color: #f5f5f5;
}
.product {
  background-color: #fff;
  padding: 30px 25px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  width: calc(100% / 3 - 10px * 2);
}
.product:hover {
  box-shadow: 0 0px 10px 0 rgba(92, 127, 224, 0.521),
    0 6px 10px 0 rgba(146, 144, 144, 0.2);
}
.product-img {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.img {
  height: 100%;
  margin: 0 auto;
  opacity: 1;
}
.img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
  transition: 0.5s;
}
.product-content {
  padding: 0 20px;
}
.product-name {
  font-weight: 600;
  margin-bottom: 0;
}
.product-price {
  font-size: 14px;
  color: #546e7a;
}
.product-description-list {
  display: none;
}
.no-show-description-product {
  display: none;
}
.fa-star {
  color: #af2dfb;
}
.product-sale {
  padding: 20px;
}
.button {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-sale {
  height: 40px;
  background-color: #fafafa;
}

/* seccion footer */

footer {
  background: #fff;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 40px 10px 30px;
  margin-top: 80px;
}
.logo-footer {
  display: flex;
}
/* .logo {
  width: 25px;
  margin-right: 10px;
} */

/* =====> sector de media querys <===== */
@media (max-width: 1200px) {
  .product {
    width: calc(100% / 2 - 2 * 10px);
  }
}
